@import "./colors.scss";

$main-color: $primary;
$secondary-color: $secondary;
$text-color: $foreground;
$text-sec-color: $background;
//$author-font



window {
	background: $background;
	border: 2px solid $secondary;
}

.clock-box {
  padding: 20px 40px;
}

.clock-time {
  font-size: 90px;
  margin-bottom: -25px;
  color: $primary;
}

.clock-date {
  font-size: 18px;
  color: $secondary;
  font-family: "JetBrainsMono NFM", sans-serif;
  margin-bottom: -25px;
}

.ram-label {
  font-size: 18px;
  color: $primary;
}

.ram-usage {
  color: $primary;
  font-size: 15px;
  font-weight: bold;
}

.music-widget {
  padding: 10px 10px;
}

.cover {
  border: 1px solid $secondary-color;
  padding: 2px 2px;
}

.cover-img {
  border-radius: 10%;
}


.song-title {
  margin-left: 10px;
  font-size: 18px;
  color: $text-color
}

.song-artist {
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
  color: $text-color;
}


.ram-progress {
  color: $primary;

  background-color: $text-color;

  min-width: 82px;
  min-height: 82px;

}

.ram-content {
  min-width: 82px;
  min-height: 82px;

  color: $text-color;

}

.ram-icon {
  margin: 50px;
  font-size: 25px;
  color: $foreground;

  margin-bottom: 2px;
}

.ram-percent {
  font-size: 30px;
  font-weight: 700;

  color: $primary;
}
