@import "colors.css";

* {
	background-image: none;
	box-shadow: none;
	text-decoration-color: @surface;
}

window {
	background-color: rgba(12, 12, 12, 0);
}

button {
    border-radius: 30;
    border-color: black;
    color: @surface;
    background-color: @surface_bright;
    border-style: solid;
    border-width: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    font-size: 25px;
    margin: 5px;
}

button:focus {
	background-color: @background;
	outline-style: none;
}

button:active {
	background-color: @background;
}



#lock {
    background-image: image(url("/home/bnn/wlogout-icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/bnn/wlogout-icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}


#hibernate {
    background-image: image(url("/home/bnn/wlogout-icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/bnn/wlogout-icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
